@import './_variables.scss';

.footer {
	background-color: $navbar-background;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 $navbar-side-padding;
	height: $navbar-height;
	color: var(--grayed-out-text);
}
