@import './_variables.scss';

.header {
	background-color: $navbar-background;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 $navbar-side-padding;
	height: $navbar-height;
	a {
		display: flex;
		align-items: center;
	}
}

.logoContainer{
	margin-left: -$navbar-side-padding;
	padding-left: $navbar-side-padding;
	@include sidebar-width();
}

.logo{
	filter: invert(1);
}

.userImage {
	border-radius: 100%;
}