@import './_variables.scss';

.header {
	background-color: $navbar-background;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: $navbar-padding;
	height: $navbar-height;
	a {
		display: flex;
		align-items: center;
	}
}

.headerLogo{
	filter: invert(1);
}

.userImage {
	border-radius: 100%;
}